

@media (min-width:481px)  { 
  .map-res {
    width: 300px;
    height: 300px;
  }
}

@media (min-width:641px)  { 
  .map-res {
    width: 600px;
  }
}

@media (min-width:961px)  { 
  .map-res {
    width: 600px;
  }

}

@media (min-width:1025px)  { 
  

}

@media (min-width:1281px)  { 
  

}
